{% extends 'layout.html' %}

{% block title %} Workshop {% endblock %}
{% block header %} <h1>Workshop</h1> {% endblock %}
{% set active_page = "workshop" %}

{% block body %}

    <div class="row my-4" style="font-size: 1.2em;">

	    <div class="col">
            The <b>workshop</b> is a place to download vulnerable images with
            pre-loaded configs in order to practice by yourself or in a team.
            Please select the <i>gamemode</i> and then the <i>image(s)</i>
            for whichever <i>scenario</i> you selected.
	    </div>

    </div>

    <div class="row" style="font-size: 1.2em;">
      todo
    </div>





{% endblock %}
